docx2txt==0.8
nltk==3.8.1
numpy==1.24.1
pandas==1.5.2
pdfminer.six==20191110
requests==2.28.2
spacy==2.3.9
textract==1.6.5
streamlit==1.17.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
